@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #AAC6D2;
  --text: #000000;
}

[data-theme='dark'] {
  --background: #01030F;
  --text: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in;
} 